@import '../../../scss/colors';
@import '../../../scss/variables';
@import '../../../scss/animation';


/* The Lightbox (background) */
.lightbox {
  display: none;
  position: fixed;
  z-index: 1050;
  padding-top: 10vh;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: $gray-800;

  &.visible {
    display: block;

    .lightbox-content {
      animation-name: zoom;
      animation-duration: 0.6s;
    }
  }

  /* Lightbox Content */
  .lightbox-content {
    position: relative;
    display: flex;
    background-color: $gray-100;
    margin: auto;
    padding: 0;
    width: auto;
    max-width: 80vh;
  }

  /* The Close Button */
  .close {
    color: $white;
    position: absolute;
    top: 2vh;
    right: 2vw;
    font-size: $font-size * 3;
    font-weight: bold;
  }

  .close:hover,
  .close:focus {
    color: $gray-300;
    text-decoration: none;
    cursor: pointer;
  }

  /* Hide the slides by default */
  .mySlides {
    display: none;

    &.active {
      display: block;
    }
  }

  /* Next & previous buttons */
  .prev,
  .next {
    cursor: pointer;
    position: absolute;
    z-index: 20;
    display: flex;
    align-items: center;
    width: auto;
    height: 100%;
    padding: 2vh 5vw;
    color: $lapis-lazuli;
    transition: 1s;
    font-weight: bold;
    font-size: $font-size * 2;
    transition: 0.6s ease;
    user-select: none;
    -webkit-user-select: none;
  }

  .prev:hover {
    background: -moz-linear-gradient(left, rgba(52, 58, 64, 1) 0%, rgba(255, 255, 255, 0) 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(left, rgba(52, 58, 64, 1) 0%, rgba(255, 255, 255, 0) 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, rgba(52, 58, 64, 1) 0%, rgba(255, 255, 255, 0) 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#000000', endColorstr='#00ffffff', GradientType=1);
    /* IE6-9 */
    color: $gray-100;
  }

  /* Position the "next button" to the right */
  .next {
    right: 0;

    &:hover {
      background: -moz-linear-gradient(right, rgba(52, 58, 64, 1) 0%, rgba(255, 255, 255, 0) 100%);
      /* FF3.6-15 */
      background: -webkit-linear-gradient(right, rgba(52, 58, 64, 1) 0%, rgba(255, 255, 255, 0) 100%);
      /* Chrome10-25,Safari5.1-6 */
      background: linear-gradient(to left, rgba(52, 58, 64, 1) 0%, rgba(255, 255, 255, 0) 100%);
      /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#000000', endColorstr='#00ffffff', GradientType=1);
      /* IE6-9 */
      color: $gray-100;
    }
  }


  /* Number text (1/3 etc) */
  .numbertext {
    color: $gray-200;
    background-color: $gray-800;
    font-size: $font-size;
    padding: $font-size 2vw;
    position: absolute;
    top: 0;
  }

  /* Caption text */
  .caption-container {
    text-align: center;
    background-color: $gray-800;
    padding: 0.1vh 10vw;
    color: $white;
  }

}
