@import '../../../scss/colors';
@import '../../../scss/variables';
@import '../../../scss/animation';

.travel {
  font-family: $font-family;

  font-size: $font-size*2;
  position: relative;

  &:before {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: $gray-400;
    opacity: .7;
  }

  .introduction {
    height: 83vh;
    width: auto;
    display: flex;
    align-items: center;
    text-align: right;
  }

  .other-container {
    height: 83vh;
    display: flex;
    align-items: center;

    app-cloud-words {
      width: 100%;
    }

    .city-to-click {
      cursor: pointer;

      &:hover {
        font-size: $font-size*2.25;
        color: darken($lapis-lazuli, 10);

        &:after {
          font-size: $font-size*2;
          color: $lapis-lazuli;
          content: ',';
        }
      }

      &:after {
        margin-left: -($letter-spacing*2);
        content: ',';
      }

      &:last-child {
        &:after {
          content: none;
        }
      }

    }
  }
}
