@import '../../../scss/colors';
@import '../../../scss/variables';
@import '../../../scss/animation';

.life {
  .section {
    min-height: 88vh;
    height: auto !important;
    height: 88vh;
    position: relative;
    display: flex;
    align-items: center;
    color: $white;

    &:before {
      position: absolute;
      content: '';
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: $gray-800;
      background-attachment: fixed;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      opacity: .7;
    }

    .title {
      display: block;
      font-size: $font-size *2;
      margin: 2vh 0;
    }

    .description {
      display: block;
      font-size: $font-size;
      margin: 2vh 0;
    }
  }
}
