@import '../../../scss/colors';
@import '../../../scss/variables';
@import '../../../scss/animation';

app-map-d3 {
  width: 100%;
  height: auto;
  z-index: 11 !important;

  .map {
    z-index: 11 !important;
  }
}

.message-error {
  height: 76vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .logo {
    justify-content: center;
    font-size: $font-size * 9;
    color: $dark-red;
  }

  .under-logo {
    text-align: center;
    font-size: $font-size * 2;
  }

}

.post {
  cursor: pointer;

  &:hover {
    position: relative;

    &:before {
      -webkit-animation: fadeout 1.5s;
      /* Safari, Chrome and Opera > 12.1 */
      -moz-animation: fadeout 1.5s;
      /* Firefox < 16 */
      -ms-animation: fadeout 1.5s;
      /* Internet Explorer */
      -o-animation: fadeout 1.5s;
      /* Opera < 12.1 */
      animation: fadeout 1.5s;
      position: absolute;
      content: '';
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: $gray-200;
      opacity: .3;
    }
  }
}

.post-modal-content {
  z-index: 20;
  position: relative;

  &:before {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: $gray-200;
    opacity: .7;
  }
}
