@import '../../../scss/colors';
@import '../../../scss/variables';


.splash-screen-container {
  transition: 2s;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  color: $lapis-lazuli !important;

  .container-logo {
    justify-content: center;

    .logo {
      img {
        height: $font-size * 5;
        width: auto;
      }

      text-align: center;
      margin-bottom: 1vh;
    }

    .under-logo {
      font-family: $font-family;
      font-size: $font-size;
    }

  }


  &.disappear {
    opacity: 0;
  }
}
