@import '../../../scss/colors';
@import '../../../scss/variables';

.header {
  display: flex;

  position: fixed;
  min-height: 13vh;
  height: auto !important;
  height: 13vh;
  width: 100vw;
  background: $white !important;
  border-bottom: $lapis-lazuli 0.1vh solid;
  padding: 0 5vw;
  align-items: center;
  z-index: 20;

  .logo {
    img {
      height: $font-size * 5;
      width: auto;
    }

    cursor: pointer;
  }

  .menu-elements {
    display: flex;
    align-items: center;
    transition: 0.2s;
    opacity: 1;

    &.not-display {
      opacity: 0;
    }
  }


}
