<div class="header">
  <div class="logo" (click)="goToHome()">
    <img src="assets/images/logo.png">
  </div>
  <div class="menu-elements ml-auto">
    <app-link-menu *ngFor="let section of sections" [icon]="section.icon" colorClass="blue" [pathLink]="section.path"
      [selected]="checkIfPathActive(section.path)">
      {{ section.label | translate }}
    </app-link-menu>
  </div>
</div>
