@import '../../../scss/colors';
@import '../../../scss/variables';

.top {

  position: fixed;
  cursor: pointer;
  z-index: 20;
  top: 90vh;
  right: -100vw;
  transition: 1s;
  border-radius: 50%;
  padding: 1.75vh 1vw;

  &.visible {
    right: 5vw;
  }
}
