@import '../../../scss/colors';
@import '../../../scss/variables';
@import '../../../scss/animation';


.cookie-info {
  background-color: $gray-100;
  min-height: 15vh;
  height: auto;
  height: 15vh;
  transition: 1s ease;
}
