@import '../../../scss/colors';
@import '../../../scss/variables';
@import '../../../scss/animation';

.home {
  display: flex;
  flex-direction: column;
  width: auto;
  color: $white;
  position: relative;

  .menu {
    position: fixed;
    height: 87vh;
    width: 100%;

    .border-white {
      border-right: 0.1vh solid $white;
    }
  }

  &:before {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: $gray-800;
    opacity: .6;
  }

  .button {
    color: $white;
  }


  .section {
    text-transform: uppercase;
    height: 87vh;
    width: 100%;
    opacity: 0;
    transition: 2s;

    &.visible {
      opacity: 1;
    }

    .section-content {
      margin: auto 0;
      width: 100%;
    }

  }
}
