@import '../../../scss/colors';
@import '../../../scss/variables';

.portfolio-container {
  position: relative;
  background: $transparent no-repeat center center;
  z-index: 10;

  .padding-total {
    padding-top: 13vh;
  }

}

.background {
  position: fixed;
  z-index: 1;
  transition: 1s ease-in-out;
  width: 100vw;
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  margin: auto;

  &.green {
    background-color: $green;
  }

  &.red {
    background-color: $dark-red;
  }

  &.yellow {
    background-color: $mandarin;
  }


}
