<app-loader>
  <div class="background {{ bkgColor }}" [style.background-image]="imageSetter()">
  </div>
  <a id="top" name="top"></a>
  <app-go-top></app-go-top>
  <div class="portfolio-container">
    <app-header></app-header>
    <div class="padding-total">
      <ng-content></ng-content>
    </div>
    <app-fixed-cookie-info></app-fixed-cookie-info>
  </div>
</app-loader>
