<div class="work">
  <div class="section one">
    <div class="container content {{ sectionFirstActivation[0] ? 'fadeIn display' : ''}}">
      <h2>{{ 'WORK.INTRODUCTION' | translate }} </h2>
    </div>
  </div>
  <div class="section two container-fluid">
    <div class="content {{ sectionFirstActivation[1] ? 'fadeIn display' : ''}}">
      <div class="row">
        <div class="col-12 my-3 w-100">
          <div class="container d-flex">
          </div>
        </div>
        <div class="col-12 mb-3">
          <div class="container">
            <div class="row">
              <div class="col-xs-12 col-lg-6">
                <div class="row">
                  <span class="text-center">
                    {{ 'WORK.CODE_WRITTEN.INTRO' | translate }}
                  </span>
                </div>
                <div class="row">
                  <button class="button border-custom white w-100 m-5" (click)="goToCode()">
                    {{ 'COMMON.BUTTONS.GO_TO' | translate }}
                    <fa-icon [icon]="['fab','bitbucket']"></fa-icon>
                  </button>
                </div>
              </div>
              <div class="col-xs-12 col-lg-6">
                <div class="row">
                  <div class="col-12 d-flex">
                    <div class="mx-auto">
                      {{ 'WORK.CODE_WRITTEN.LINE_COUNT' | translate }}
                    </div>
                  </div>
                  <div class="col-12 d-flex">
                    <div class="mx-auto">
                      <app-increasing-counter limitValue="80000" activateOnDemand="true"></app-increasing-counter>
                    </div>
                  </div>
                  <div class="col-12 d-flex">
                    <div class="mx-auto">
                      {{ 'WORK.CODE_WRITTEN.TOOLS_USED' | translate }}
                    </div>
                  </div>
                  <div class="d-flex col-12">
                    <div class="m-auto">
                      <fa-icon [icon]="['fab','node-js']" class="icon-tool"></fa-icon>
                      <fa-icon [icon]="['fab','angular']" class="icon-tool"></fa-icon>
                      <fa-icon [icon]="['fab','html5']" class="icon-tool"></fa-icon>
                      <fa-icon [icon]="['fab','sass']" class="icon-tool"></fa-icon>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="section three">
    <div class="container content {{ sectionFirstActivation[2] ? 'fadeIn display' : ''}}">
      <div class="row ">
        <div class="col-sm-12">
          <h2 class="text-center mt-5 mb-2">
            {{ 'WORK.TOOLS.TITLE' | translate }}
          </h2>
        </div>
        <div class="col-sm-12 mt-4">
          <fa-icon [icon]="['fab','git']" class="icon-tool zoom"></fa-icon>
          <fa-icon [icon]="['fab','java']" class="icon-tool zoom"></fa-icon>
          <fa-icon [icon]="['fab','python']" class="icon-tool zoom"></fa-icon>
          <fa-icon [icon]="['fab','linux']" class="icon-tool zoom"></fa-icon>
          <fa-icon [icon]="['fab','windows']" class="icon-tool zoom"></fa-icon>
          <fa-icon [icon]="['fab','apple']" class="icon-tool zoom"></fa-icon>
          <fa-icon [icon]="['fab','android']" class="icon-tool zoom"></fa-icon>
          <fa-icon [icon]="['fab','firefox']" class="icon-tool zoom"></fa-icon>
          <fa-icon [icon]="['fab','chrome']" class="icon-tool zoom"></fa-icon>
          <fa-icon [icon]="['fab','edge']" class="icon-tool zoom"></fa-icon>
          <fa-icon [icon]="['fab','stack-overflow']" class="icon-tool zoom"></fa-icon>
          <fa-icon [icon]="['fab','npm']" class="icon-tool zoom"></fa-icon>
          <fa-icon [icon]="['fas','database']" class="icon-tool zoom"></fa-icon>
        </div>
        <div class="col-sm-12 mt-4">
          <h2 class="text-center">
            {{ 'WORK.TOOLS.AND_MORE_OTHER' | translate }}
          </h2>
        </div>
      </div>
    </div>
  </div>
  <div class="section fourth">
    <div class="container content {{ sectionFirstActivation[3] ? 'fadeIn display' : ''}}">
      <div class="row ">
        <div class="col-sm-12">
          <h2 class="text-center my-5">
            {{ 'WORK.CONTACT_ME' | translate }}
          </h2>
        </div>
      </div>
      <div class="row mt-5">
        <div class="col-sm-12 col-md-4">
          <div class="p-3">
            <button class="button border-custom white w-100" (click)="goToResume()">
              {{ 'COMMON.BUTTONS.GO_TO' | translate }}
              <fa-icon [icon]="['fas','file']"></fa-icon>
            </button>
          </div>
        </div>
        <div class="col-sm-12 col-md-4">
          <div class="p-3">
            <button class="button border-custom white w-100" (click)="goToLinkedIn()">
              {{ 'COMMON.BUTTONS.GO_TO' | translate }}
              <fa-icon [icon]="['fab','linkedin']"></fa-icon>
            </button>
          </div>
        </div>
        <div class="col-sm-12 col-md-4">
          <div class="p-3">
            <button class="button border-custom white w-100" (click)="goToMail()">
              {{ 'COMMON.BUTTONS.GO_TO' | translate }}
              <fa-icon [icon]="['fas','at']"></fa-icon>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
