@import '../../../scss/colors';
@import '../../../scss/variables';
@import '../../../scss/animation';

.work {
  font-size: $font-size*2;

  .section {
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 88vh;
    height: auto !important;
    height: 88vh;

    &.one {
      position: relative !important;
      display: flex;
      text-align: center;
      align-items: center;
    }

    &:before {
      position: absolute;
      content: '';
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: $gray-800;
      background-attachment: fixed;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      opacity: .7;
    }

    &.two {
      position: relative !important;
    }

    &.three {
      position: relative !important;

      .button {
        color: $white;
      }
    }

    &.fourth {
      position: relative !important;
    }

    .button {
      color: $white;
    }

    .icon-tool {
      margin: 2vh 2vw;
      font-size: $font-size * 4;

      &.zoom {
        font-size: $font-size *8;
      }
    }

    .content {
      opacity: 0;

      &.display {
        opacity: 1;
      }

      z-index: 10;
      color: $white;
    }
  }

}
