<div (deferLoad)="show = true">
  <ng-container *ngIf="show">
    <img [src]="src" (load)="loaded = true" class="img-fluid {{ classToAppend }}" (contextmenu)="false" />
  </ng-container>
  <div class="d-flex justify-content-center align-self-center" *ngIf="show && !loaded">
    <img src="assets/images/rings.svg" *ngIf="!loaded" />
  </div>
</div>
