@import '../../../scss/colors';
@import '../../../scss/variables';

.not-found {
  height: 76vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .logo {
    justify-content: center;
    font-size: $font-size * 9;
    color: $dark-red;
  }

  .under-logo {
    text-align: center;
    font-size: $font-size * 2;
  }

}
