@import '../../../scss/colors';
@import '../../../scss/variables';

.icon-menu {
  cursor: pointer;
  text-align: center;
  justify-content: center;
  min-width: 15vw;
  width: auto;
  width: 15vw;
  padding: 3vh;
  margin: 1vh;


  &:hover {
    .icon {
      opacity: 0;
    }

    .text {
      opacity: 1;
    }
  }

  &.hover {
    .icon {
      display: none;
    }

    .text {
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }

  &.selected {
    .icon {
      display: none;
      opacity: 0;
    }

    .text {
      display: flex;
      justify-content: center;
      align-items: center;
      font-weight: 800;
      opacity: 1;
    }
  }

  .icon {
    font-size: $font-size * 2;
    transition: 0.25s;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 1;
  }

  .text {
    text-transform: uppercase;
    display: none;
    opacity: 0;
    transition: 2s;
  }


  &.green {
    color: $green;
  }

  &.blue {
    color: $lapis-lazuli;

  }

  &.white {
    color: $white;
  }

  &.red {
    color: $dark-red;
  }

  &.yellow {
    color: $mandarin;
  }
}
