/* You can add global styles to this file, and also import other style files */
@import 'scss/colors';
@import 'scss/variables';
@import 'scss/animation';


body {
  font-family: $font-family;
  font-weight: $font-weight;
  letter-spacing: $letter-spacing;
  font-size: $font-size;
  color: $lapis-lazuli;

  &.noscroll {
    overflow: hidden;

    .top.visible {
      display: none !important;
    }
  }

}


.modal {

  .map-background {

    position: fixed;
    height: 100%;
    width: 100%;
    z-index: -1
  }

  .modal-content {
    z-index: 10;
    animation-name: zoom;
    animation-duration: 0.6s;

    &.modal-travel {
      background-color: $transparent !important;
      height: 80vh;

      .close {
        position: absolute;
        top: 2vh;
        right: 2vw;
        cursor: pointer !important;
        color: $white;
        z-index: 2000;
        font-size: $font-size*2 !important;
      }

      .left,
      .right {
        border: none;
        cursor: pointer;
        width: auto;
        background-color: $transparent;
        cursor: pointer;
        color: $white;
        opacity: 0.6;
        font-size: $font-size*1.5 !important;

        &:hover {
          opacity: 1;
        }
      }
    }

    border-radius: 0 !important;
    border: none !important;
  }


  img {
    transition: 1s;
  }
}

.button {
  cursor: pointer;
  border: none;
  width: auto;
  height: 6vh;
  padding: 0 3vw;
  font-size: $font-size * 1.5;
  text-transform: uppercase;
  letter-spacing: $letter-spacing;
  text-decoration: none;
  background-color: $transparent;
  transition: 0.5s;
  color: $lapis-lazuli;

  &.border-custom {
    border: 0.1vh solid;

    &.white {
      border-color: $gray-100;
    }

    &.blue {
      border-color: $lapis-lazuli;
    }
  }


  &:hover {
    background-color: $lapis-lazuli;
    font-weight: 800;
    color: $gray-100;
    text-shadow: none;

    &.green {
      background-color: $green;
    }

    &.red {
      background-color: $dark-red;
    }

    &.yellow {
      background-color: $mandarin;
    }
  }

}

agm-map {
  height: 50vh;
  letter-spacing: normal;
}

router-outlet~* {
  position: absolute;
  height: 100%;
  width: 100%;
}

.loading {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .logo {
    img {
      height: $font-size * 5;
      width: auto;
    }

    word-wrap: break;
    pointer-events: none;
  }
}

.gray-bkg {
  background-color: $gray-100;
}

.border-custom-blue {
  @media screen and (max-width: $desktop) {
    border-bottom: $lapis-lazuli 0.1vh solid;
  }

  @media screen and (min-width: $desktop) {
    border-right: $lapis-lazuli 0.1vw solid;
  }
}

.blue-bkg {
  background-color: $lapis-lazuli;

}

.white-bkg {
  background-color: $white;
}

.transp-bkg {
  background-color: $transparent;
}

.opacity-zero {
  opacity: 0;
}

.newline {
  white-space: pre-wrap;
}

.cursor-pointer {
  cursor: pointer;
}
